<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-cdc-sample.ZPM">
    <Module>
      <Name>iris-cdc-sample</Name>
      <Description>CDC sample using postgresql, iris, kafka, BAM and columnar db.</Description>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.0.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>objectscript-json-trace-viewer</Name>
          <Version>1.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>production-settings</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.cdc.PKG"/>
      <Resource Directory="dfi" FilenameExtension="dfi" Name="BAMDashboard.dashboard.DFI" />
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
